

body {
  font-family: 'REM', sans-serif;
  font-family: 'Varela Round', sans-serif;
  background-image: url('../Images/background-page1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: default;
}

.clock-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: white;
}

.special-seperator {
  font-size: 35px;
  position: relative;
  bottom: 5px;
}

.undertext-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#undertext {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  bottom: 70px;
  width: 620px;
  font-size: 12px;
  color: white;
  left: 8px;

}

.date-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#date-text {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  width: 400px;
  font-size: 30px;
  bottom: 80px;
  color: white;
}

.hours-till-midnight-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  top: 600px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.527);
  font-size: 20px;
}

.chinese-sign-container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  position: relative;
  top: 150px;
}

.chinese-sign-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  background-color: rgba(117, 117, 117, 0.048);
  backdrop-filter: blur(12px);
  padding: 20px;
  border-radius: 12px;
}

#middle-dot {
  font-size: 30px;
}

.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 150px;
  position: relative;
  bottom: 440px;

}



.stopwatch-button, .glasstime-button {

  color: white;
  background-color: rgba(61, 61, 61, 0.116);
  backdrop-filter: blur(8px);
  width: 36px;
  height: 36px;
  border-radius: 8px;
  border-width: 0px;
  cursor: pointer;
  padding: 4px;
  
}

