

body {
  font-family: 'REM', sans-serif;
  font-family: 'Varela Round', sans-serif;
  background-image: url('../Images/background-page2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}